:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --btn-second-color: #188ce8;
  --primary-white-color: #ffffff;
  --studio-second-color: #000000;
  --bg-color: #2f303a;
  --bg-second-color: #f5f4fa;
  --social-color: #afb1b8;
  --half-margin: 30px;
  --time: 250ms;
  --anim-time: cubic-bezier(0.4, 0, 0.2, 1);
  --header-idx: 10;
  --modal-idx: 100;
  --menu-idx: 1000;
}

.work, .skills, .portfolio, .gang, .clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .work, .skills, .portfolio, .gang, .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

html {
  scroll-behavior: smooth;
}

.hiden__title {
  display: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* ---------------------------------- hero ---------------------------------- */
.btn {
  padding: 10px 32px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: var(--primary-white-color);
  background: var(--accent-color);
  -webkit-transition: color var(--time) var(--anim-time), background var(--time) var(--anim-time);
  transition: color var(--time) var(--anim-time), background var(--time) var(--anim-time);
  /* ------------------------------ portfolio btn ----------------------------- */
}
.btn:focus, .btn:hover {
  background: var(--btn-second-color);
}
.btn__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .btn__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.btn__item:not(:first-child) {
  margin-bottom: 50px;
}
.btn__pf {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--bg-second-color);
  -webkit-transition: color var(--time) var(--anim-time), background-color var(--time) var(--anim-time), -webkit-box-shadow var(--time) var(--anim-time);
  transition: color var(--time) var(--anim-time), background-color var(--time) var(--anim-time), -webkit-box-shadow var(--time) var(--anim-time);
  transition: color var(--time) var(--anim-time), background-color var(--time) var(--anim-time), box-shadow var(--time) var(--anim-time);
  transition: color var(--time) var(--anim-time), background-color var(--time) var(--anim-time), box-shadow var(--time) var(--anim-time), -webkit-box-shadow var(--time) var(--anim-time);
}
.btn__pf:focus, .btn__pf:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header {
  border-bottom: 1px solid #ececec;
  /* -------------------------------------------------------------------------- */
  /*                                   curent                                   */
  /* -------------------------------------------------------------------------- */
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 93px;
}
@media screen and (max-width: 767px) {
  .header__group {
    display: none;
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--title-text-color);
  -webkit-transition: color var(--time) var(--anim-time);
  transition: color var(--time) var(--anim-time);
}
.header__icon {
  margin-right: 10px;
  fill: currentColor;
}
.header [aria-current]::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 7px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.header [aria-current] {
  color: var(--accent-color);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__part {
  color: var(--studio-second-color);
}

.logo__part-footer {
  color: var(--primary-white-color);
}

.nav {
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item:not(:first-child) {
  margin-left: 50px;
}

@media screen and (min-width: 1199px) {
  .header__item:not(:first-child) {
    margin-left: 50px;
  }
}

.nav__link {
  position: relative;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition: color var(--time) var(--anim-time);
  transition: color var(--time) var(--anim-time);
}

.nav__link:hover,
.nav__link:focus,
.header__link:hover,
.header__link:focus {
  color: var(--accent-color);
  -webkit-transition: -webkit-transform var(--time) var(--anim-time);
  transition: -webkit-transform var(--time) var(--anim-time);
  transition: transform var(--time) var(--anim-time);
  transition: transform var(--time) var(--anim-time), -webkit-transform var(--time) var(--anim-time);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--modal-idx);
  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-transition: opacity var(--time) var(--anim-time), visibility var(--time) var(--anim-time);
  transition: opacity var(--time) var(--anim-time), visibility var(--time) var(--anim-time);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: scale(0.2, 0.2);
          transform: scale(0.2, 0.2);
}

.backdrop.is-hidden > .modal {
  -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
}

.modal {
  padding: 40px 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  min-height: 581px;
  border-radius: 4px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: -webkit-transform var(--time) var(--anim-time);
  transition: -webkit-transform var(--time) var(--anim-time);
  transition: transform var(--time) var(--anim-time);
  transition: transform var(--time) var(--anim-time), -webkit-transform var(--time) var(--anim-time);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: inherit;
  cursor: pointer;
  -webkit-transition: color var(--time) var(--anim-time);
  transition: color var(--time) var(--anim-time);
}

.close-btn:hover,
.close-btn:focus {
  color: var(--accent-color);
}

.close-btn__icon {
  margin: auto;
  fill: currentColor;
}

.modal__advertisement {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
}

.modal__group {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.modal__label {
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.modal__wpapper {
  margin-bottom: 10px;
  position: relative;
}

.modal__field {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-offset: -1px;
  outline: 1px solid transparent;
  -webkit-transition: outline var(--time) var(--anim-time), -webkit-box-shadow var(--time) var(--anim-time);
  transition: outline var(--time) var(--anim-time), -webkit-box-shadow var(--time) var(--anim-time);
  transition: outline var(--time) var(--anim-time), box-shadow var(--time) var(--anim-time);
  transition: outline var(--time) var(--anim-time), box-shadow var(--time) var(--anim-time), -webkit-box-shadow var(--time) var(--anim-time);
}

.modal__field:focus {
  outline-color: var(--accent-color);
  -webkit-box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.25);
          box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.25);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--time) var(--anim-time);
  transition: fill var(--time) var(--anim-time);
}

.modal__field:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__massage {
  padding: 12px 16px;
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-offset: -1px;
  outline: 1px solid transparent;
  -webkit-transition: outline var(--time) var(--anim-time), -webkit-box-shadow var(--time) var(--anim-time);
  transition: outline var(--time) var(--anim-time), -webkit-box-shadow var(--time) var(--anim-time);
  transition: outline var(--time) var(--anim-time), box-shadow var(--time) var(--anim-time);
  transition: outline var(--time) var(--anim-time), box-shadow var(--time) var(--anim-time), -webkit-box-shadow var(--time) var(--anim-time);
  resize: none;
}

.modal__massage:focus {
  outline-color: var(--accent-color);
  -webkit-box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.25);
          box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.25);
}

.modal__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  outline-offset: -1px;
  outline: 1px solid transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  -webkit-transition: background-size var(--time) var(--anim-time), background-color var(--time) var(--anim-time), outline-color var(--time) var(--anim-time);
  transition: background-size var(--time) var(--anim-time), background-color var(--time) var(--anim-time), outline-color var(--time) var(--anim-time);
}

.modal__checkbox:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  outline-color: var(--accent-color);
  -webkit-box-shadow: 0 0 0 1px rgba(33, 150, 243, 0.25);
          box-shadow: 0 0 0 1px rgba(33, 150, 243, 0.25);
  -webkit-transition: outline var(--time) var(--anim-time), -webkit-box-shadow var(--time) var(--anim-time);
  transition: outline var(--time) var(--anim-time), -webkit-box-shadow var(--time) var(--anim-time);
  transition: outline var(--time) var(--anim-time), box-shadow var(--time) var(--anim-time);
  transition: outline var(--time) var(--anim-time), box-shadow var(--time) var(--anim-time), -webkit-box-shadow var(--time) var(--anim-time);
  background-size: 11px 8px;
}

.modal__agreement {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 9px;
}

.modal__desc {
  color: var(--title-text-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.modal__link {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: var(--accent-color);
}

.modal__btn {
  display: block;
  margin: 0 auto;
}

textarea {
  resize: none;
}

.mobile-menu-link.current {
  color: #2196f3;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--social-color);
  -webkit-transition: color var(--time) var(--anim-time), background-color var(--time) var(--anim-time);
  transition: color var(--time) var(--anim-time), background-color var(--time) var(--anim-time);
}
.social__icon {
  margin: auto;
  fill: currentColor;
}
.social__link:hover, .social__link:focus, .social-footer-link:hover, .social-footer-link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.social-footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
  -webkit-transition: color var(--time) var(--anim-time), background var(--time) var(--anim-time);
  transition: color var(--time) var(--anim-time), background var(--time) var(--anim-time);
}
.social-footer-icon {
  margin: auto;
  fill: currentColor;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-toggle-burger:hover {
  fill: #2196f3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--primary-white-color);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.mobile-menu-item {
  margin-bottom: 32px;
}

.mobile-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-contacts-item {
  margin-bottom: 32px;
}

.mobile-contacts-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-contacts-link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667c;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.mobile-social-link {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-contacts {
  margin-bottom: 64px;
}

.clients__list {
  margin-right: calc(-1 * var(--half-margin));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.clients__item {
  margin-right: var(--half-margin);
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
  }
}
@media screen and (max-width: 1200px) {
  .clients__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: color var(--time) var(--anim-time), border-color var(--time) var(--anim-time);
  transition: color var(--time) var(--anim-time), border-color var(--time) var(--anim-time);
}
.clients__link:focus, .clients__link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.clients__icon {
  margin: auto;
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-adress__wrap {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-adress__wrap {
    text-align: left;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 28px;
}

.footer-addres {
  margin-bottom: 60px;
}

.footer-items:not(:last-child) {
  margin-bottom: 12px;
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  -webkit-transition: color var(--time) var(--anim-time);
  transition: color var(--time) var(--anim-time);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-social {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-social {
    text-align: left;
    margin-right: auto;
    margin-left: auto;
  }
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.subscription {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 1200) {
  .subscription {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscription {
    display: inline;
    text-align: left;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-btn {
    min-width: 200px;
    height: 50px;
  }
}

.footer-form-btn-icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  fill: var(--primary-white-color);
}

.footer-form-field {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  margin-right: 12px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.1428571429;
  color: var(--primary-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: outline var(--time) var(--anim-time), drop-shadow var(--time) var(--anim-time);
  transition: outline var(--time) var(--anim-time), drop-shadow var(--time) var(--anim-time);
}
@media screen and (min-width: 1200px) {
  .footer-form-field {
    width: 359px;
  }
}

.footer-form-field:focus {
  outline: 1px solid rgba(94, 145, 94, 0.3);
  border: none;
  -webkit-box-shadow: 3px 3px 20px rgba(94, 145, 94, 0.3);
          box-shadow: 3px 3px 20px rgba(94, 145, 94, 0.3);
}

.footer-form-field:not(:-moz-placeholder-shown):required:invalid {
  outline: 1px solid #ff0000;
  border: none;
  box-shadow: 3px 3px 20px #ff0000;
}

.footer-form-field:not(:-ms-input-placeholder):required:invalid {
  outline: 1px solid #ff0000;
  border: none;
  box-shadow: 3px 3px 20px #ff0000;
}

.footer-form-field:not(:placeholder-shown):required:invalid {
  outline: 1px solid #ff0000;
  border: none;
  -webkit-box-shadow: 3px 3px 20px #ff0000;
          box-shadow: 3px 3px 20px #ff0000;
}

.footer-form-field:not(:-moz-placeholder-shown):required:valid {
  outline: 1px solid var(--accent-color);
  border: none;
  box-shadow: 3px 3px 20px var(--accent-color);
}

.footer-form-field:not(:-ms-input-placeholder):required:valid {
  outline: 1px solid var(--accent-color);
  border: none;
  box-shadow: 3px 3px 20px var(--accent-color);
}

.footer-form-field:not(:placeholder-shown):required:valid {
  outline: 1px solid var(--accent-color);
  border: none;
  -webkit-box-shadow: 3px 3px 20px var(--accent-color);
          box-shadow: 3px 3px 20px var(--accent-color);
}

.gang {
  background: var(--bg-second-color);
  margin: 0;
  padding-bottom: 94px;
  padding-top: 94px;
}
@media screen and (min-width: 768px) and (max-width: 1198px) {
  .gang__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .gang__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.gang__item {
  padding-bottom: 30px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .gang__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1198px) {
  .gang__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gang__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
  .gang__item:last-child {
    margin-right: 0;
  }
}
.gang__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.gang__text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.hero {
  max-width: 1600px;
  padding: 200px 0px;
  text-align: center;
  margin: 0 auto;
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_lg@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_lg@1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_lg@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_lg@2x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_md@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_md@1x.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_md@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_md@2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_lg@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_lg@1x.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/img_lg@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img_lg@2x.jpg);
  }
}

.hero__title {
  width: 360px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.btn__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  row-gap: 15px;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.card-set__item {
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-set__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    width: 354px;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .card-set__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

.card-set__link {
  display: inline-block;
  width: 100%;
  -webkit-transition: -webkit-box-shadow var(--time) var(--anim-time);
  transition: -webkit-box-shadow var(--time) var(--anim-time);
  transition: box-shadow var(--time) var(--anim-time);
  transition: box-shadow var(--time) var(--anim-time), -webkit-box-shadow var(--time) var(--anim-time);
}

.card-set__link:hover,
.card-set__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set__link:hover .card-set__meta,
.card-set__link:focus .card-set__meta {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.card-set__wrap {
  position: relative;
  overflow: hidden;
}

.card-set__overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  color: var(--primary-white-color);
  -webkit-transition-timing-function: var(--anim-time);
          transition-timing-function: var(--anim-time);
  -webkit-transition: -webkit-transform var(--time) var(--anim-time);
  transition: -webkit-transform var(--time) var(--anim-time);
  transition: transform var(--time) var(--anim-time);
  transition: transform var(--time) var(--anim-time), -webkit-transform var(--time) var(--anim-time);
}

.card-set__meta {
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  padding: 64px 24px;
}

.card-set__item:hover .card-set__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform var(--time) var(--anim-time);
  transition: -webkit-transform var(--time) var(--anim-time);
  transition: transform var(--time) var(--anim-time);
  transition: transform var(--time) var(--anim-time), -webkit-transform var(--time) var(--anim-time);
}

.card-set__inner {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.card-set__subtitle {
  font-weight: 700;
  font-size: 17px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.card-set__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.card-set__item > img {
  width: 100%;
  height: auto;
}

.card-set__item:focus,
.card-set__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: -webkit-transform var(--time) var(--anim-time);
  transition: -webkit-transform var(--time) var(--anim-time);
  transition: transform var(--time) var(--anim-time);
  transition: transform var(--time) var(--anim-time), -webkit-transform var(--time) var(--anim-time);
}

.skills-hiden__title {
  display: none;
}

.skills__list {
  margin-left: calc(-1 * var(--half-margin));
}
@media screen and (min-width: 767px) {
  .skills__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.skills__item {
  margin-left: var(--half-margin);
}
@media screen and (min-width: 768px) {
  .skills__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .skills__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}
@media screen and (max-width: 1200px) {
  .skills__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.skills__wrap {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 25px;
  padding: 30px;
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--bg-second-color);
}

.skills__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
@media screen and (max-width: 768px) {
  .skills__subtitle {
    text-align: center;
  }
}

.skills__text {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.work {
  margin-top: -94px;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: calc(-1 * var(--half-margin));
}

.work__item {
  -ms-flex-preferred-size: calc(33.3333333333% - var(--half-margin));
      flex-basis: calc(33.3333333333% - var(--half-margin));
  margin-left: var(--half-margin);
}

.work__item > img {
  width: 100%;
  height: auto;
}

.work__wrap {
  position: relative;
}

.work__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 0;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}/*# sourceMappingURL=main.css.map */