// utils styles
@import './utils/variables';
@import './utils/placeholder';

// base styles
@import './base/base';
@import './base/reset';

// components styles
@import './components/container';
@import './components/btn';
@import './components/header';
@import './components/logo';
@import './components/nav';
@import './components/modal';
@import './components/social';
@import './components/menu';

// layout styles
@import './layout/clients';
@import './layout/footer';
@import './layout/gang';
@import './layout/hero';
@import './layout/portfolio';
@import './layout/skills';
@import './layout/works';
