.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
}

.footer__container {
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

.footer-list {
  font-style: normal;
}

.footer-adress__wrap {
  text-align: center;
  margin-bottom: 60px;
  @media screen and(min-width: 1200px) {
    text-align: left;
    margin-bottom: 0;
  }
}
.footer__logo {
  display: inline-block;
  margin-bottom: 28px;
}

.footer-items:not(:last-child) {
  margin-bottom: 12px;
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--primary-white-color);

  transition: color var(--time) var(--anim-time);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.footer-social {
  margin-bottom: 60px;
  @media screen and(min-width:1200px) {
    margin-bottom: 0;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
  }
  justify-content: center;
  text-align: center;
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.subscription {
  @media screen and(max-width:1200) {
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and(min-width: 1200px) {
    display: inline;
    text-align: left;
    margin-right: 0;
  }

  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.footer-form {
  @media screen and(min-width:1200px) {
    display: flex;
  }
}

.footer-form-btn {
  @media screen and(min-width:1200px) {
    min-width: 200px;
    height: 50px;
  }
}

.footer-form-btn-icon {
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 12px;
  fill: var(--primary-white-color);
}

.footer-form-field {
  @media screen and(min-width:1200px) {
    width: 359px;
  }
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  margin-right: 12px;
  padding-left: 16px;
  font-size: 16px;
  line-height: calc(16 / 14);

  color: var(--primary-white-color);
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: outline var(--time) var(--anim-time), drop-shadow var(--time) var(--anim-time);
}

.footer-form-field:focus {
  outline: 1px solid rgb(94, 145, 94, 0.3);
  border: none;
  box-shadow: 3px 3px 20px rgb(94, 145, 94, 0.3);
}

.footer-form-field:not(:placeholder-shown):required:invalid {
  outline: 1px solid #ff0000;
  border: none;
  box-shadow: 3px 3px 20px #ff0000;
}

.footer-form-field:not(:placeholder-shown):required:valid {
  outline: 1px solid var(--accent-color);
  border: none;
  box-shadow: 3px 3px 20px var(--accent-color);
}
