.skills {
  @extend %section;
}

.skills-hiden__title {
  display: none;
}

.skills__list {
  margin-left: calc(-1 * var(--half-margin));
  @media screen and(min-width: 767px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.skills__item {
  margin-left: var(--half-margin);

  @media screen and(min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
  @media screen and(min-width: 1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
  @media screen and(max-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.skills__wrap {
  display: block;
  justify-content: center;
  text-align: center;
  margin-bottom: 25px;
  padding: 30px;
  content: '';
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--bg-second-color);
}

.skills__subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);

  @media screen and(max-width: 768px) {
    text-align: center;
  }
}

.skills__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
