/* ---------------------------------- hero ---------------------------------- */

.btn {
  padding: 10px 32px;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  color: var(--primary-white-color);
  background: var(--accent-color);

  transition: color var(--time) var(--anim-time), background var(--time) var(--anim-time);

  &:focus,
  &:hover {
    background: var(--btn-second-color);
  }
  /* ------------------------------ portfolio btn ----------------------------- */

  &__list {
    display: flex;
    margin-bottom: 50px;
    @media screen and (min-width: 768px) {
      justify-content: center;
    }
  }

  &__pf {
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;

    border-radius: 4px;
    border: none;
    cursor: pointer;

    color: var(--primary-text-color);
    background-color: var(--bg-second-color);

    transition: color var(--time) var(--anim-time), background-color var(--time) var(--anim-time),
      box-shadow var(--time) var(--anim-time);
  }

  &__pf:focus,
  &__pf:hover {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
