.header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 93px;
  }
  &__group {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__list {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-direction: column;
      gap: 10px;
    }

    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
  }

  &__link {
    display: flex;
    align-items: center;
    // padding: 32px 0;

    color: var(--title-text-color);

    transition: color var(--time) var(--anim-time);
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
  /* -------------------------------------------------------------------------- */
  /*                                   curent                                   */
  /* -------------------------------------------------------------------------- */
  [aria-current]::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 7px;

    display: block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--accent-color);
  }

  [aria-current] {
    color: var(--accent-color);
  }
}
