.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__part {
  color: var(--studio-second-color);
}

.logo__part-footer {
  color: var(--primary-white-color);
}
