.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--modal-idx);

  width: 100%;
  height: 100%;

  background-color: rgba(47, 48, 58, 0.4);
  backdrop-filter: blur(2px);

  transition: opacity var(--time) var(--anim-time), visibility var(--time) var(--anim-time);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.2, 0.2);
}

.backdrop.is-hidden > .modal {
  transform: scale(0.5, 0.5);
}

.modal {
  padding: 40px 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  @media screen and (min-width: 1200px) {
    width: 528px;
  }
  width: 450px;
  min-height: 581px;

  border-radius: 4px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translateX(-50%) translateY(-50%);

  transition: transform var(--time) var(--anim-time);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: inherit;
  cursor: pointer;

  transition: color var(--time) var(--anim-time);
}

.close-btn:hover,
.close-btn:focus {
  color: var(--accent-color);
}

.close-btn__icon {
  margin: auto;
  fill: currentColor;
}

.modal__advertisement {
  display: block;
  text-align: center;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
}

.modal__group {
  margin-bottom: 20px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--title-text-color);
}

.modal__label {
  display: block;
  font-size: 12px;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--title-text-color);
}

.modal__wpapper {
  margin-bottom: 10px;
  position: relative;
}

.modal__field {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline-offset: -1px;
  outline: 1px solid transparent;
  transition: outline var(--time) var(--anim-time), box-shadow var(--time) var(--anim-time);
}

.modal__field:focus {
  outline-color: var(--accent-color);
  box-shadow: 0 0 0 2px rgb(33, 150, 243, 0.25);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--time) var(--anim-time);
}

.modal__field:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__massage {
  padding: 12px 16px;
  display: block;
  width: 100%;
  height: 120px;

  font-size: 12px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-offset: -1px;
  outline: 1px solid transparent;
  transition: outline var(--time) var(--anim-time), box-shadow var(--time) var(--anim-time);
  resize: none;
}

.modal__massage:focus {
  outline-color: var(--accent-color);
  box-shadow: 0 0 0 2px rgb(33, 150, 243, 0.25);
}

.modal__checkbox {
  appearance: none;
  width: 16px;
  height: 15px;

  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  outline-offset: -1px;
  outline: 1px solid transparent;
  background-position: center;
  background-repeat: no-repeat;

  background-size: 0;

  transition: background-size var(--time) var(--anim-time),
    background-color var(--time) var(--anim-time), outline-color var(--time) var(--anim-time);
}

.modal__checkbox:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  outline-color: var(--accent-color);
  box-shadow: 0 0 0 1px rgb(33, 150, 243, 0.25);
  transition: outline var(--time) var(--anim-time), box-shadow var(--time) var(--anim-time);
  background-size: 11px 8px;
}
.modal__agreement {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

.modal__desc {
  color: var(--title-text-color);
  user-select: none;
  @media screen and(min-width: 1200px) {
    font-size: 14px;
  }
  font-size: 12px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.modal__link {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: var(--accent-color);
}
.modal__btn {
  display: block;
  margin: 0 auto;
}
textarea {
  resize: none;
}

.mobile-menu-link.current {
  color: #2196f3;
}
