.nav {
  margin-right: auto;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:first-child) {
  margin-left: 50px;
}
.header__item:not(:first-child) {
  @media screen and(min-width: 1199px) {
    margin-left: 50px;
  }
}

.nav__link {
  position: relative;

  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  transition: color var(--time) var(--anim-time);
}

.nav__link:hover,
.nav__link:focus,
.header__link:hover,
.header__link:focus {
  color: var(--accent-color);

  transition: transform var(--time) var(--anim-time);
}
