body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

html {
  scroll-behavior: smooth;
}

.hiden__title {
  display: none;
}
