:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --btn-second-color: #188ce8;
  --primary-white-color: #ffffff;
  --studio-second-color: #000000;
  --bg-color: #2f303a;
  --bg-second-color: #f5f4fa;
  --social-color: #afb1b8;
  --half-margin: 30px;
  --time: 250ms;
  --anim-time: cubic-bezier(0.4, 0, 0.2, 1);
  --header-idx: 10;
  --modal-idx: 100;
  --menu-idx: 1000;
}
